<h1>Cliente</h1>

<dl>
  <dt><%= Client.human_attribute_name :name %></dt>
  <dd><%= @client.name %></dd>
  <dt><%= Client.human_attribute_name :cpf %></dt>
  <dd><%= @client.cpf %></dd>
  <dt><%= Client.human_attribute_name :email %></dt>
  <dd><%= @client.email %></dd>
</dl>