<h1>Locações</h1>

<%= link_to 'Voltar', root_path %>

<%= link_to 'Agendar nova locação', new_rental_path %>

<%= form_with url: rentals_search_path, method: :get, local: true do |f| %>
  <%= f.label :q, 'Busca de locação' %>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>

<% @rentals.each do |rental| %>
  <dl>
    <dt>Token</dt>
    <dd><%= rental.token %></dd>
    <dt><%= Rental.human_attribute_name :start_date %></dt>
    <dd><%= l rental.start_date %></dd>
    <dt><%= Rental.human_attribute_name :end_date %></dt>
    <dd><%= l rental.end_date %></dd>
    <dt><%= Rental.human_attribute_name :client %></dt>
    <dd><%= rental.client.name %></dd>
    <dd><%= rental.client.cpf %></dd>
    <dd><%= rental.client.email %></dd>
    <dt><%= Rental.human_attribute_name :car_category %></dt>
    <dd><%= rental.car_category.name %></dd>
    <dt><%= Rental.human_attribute_name :total %></dt>
    <dd><%= number_to_currency rental.total %></dd>
    <dt><%= Rental.human_attribute_name :user %></dt>
    <dd><%= rental.user.email %></dd>
  </dl>
<% end %>

<% if @rentals.empty? %>
  <h3>Nenhuma locação agendada</h3>
<% end %>