<h1>Locações</h1>

<%= link_to 'Voltar', root_path %>

<%= link_to 'Agendar nova locação', new_rental_path %>

<%= form_with url: search_rentals_path, method: :get, local: true do |f| %>
  <%= f.label :q, 'Busca de locação' %>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>

<%= render @rentals %>

<% if @rentals.empty? %>
  <h3>Nenhuma locação agendada</h3>
<% end %>