<h1>Locação</h1>
<h2>Dados do Agendamento</h2>

<div>
  <dl>
    <dt>Token</dt>
    <dd><%= @rental.token %></dd>
    <dt><%= Rental.human_attribute_name :start_date %></dt>
    <dd><%= l @rental.start_date %></dd>
    <dt><%= Rental.human_attribute_name :end_date %></dt>
    <dd><%= l @rental.end_date %></dd>
    <dt><%= Rental.human_attribute_name :client %></dt>
    <dd><%= @rental.client.name %></dd>
    <dd><%= @rental.client.cpf %></dd>
    <dd><%= @rental.client.email %></dd>
    <dt><%= Rental.human_attribute_name :car_category %></dt>
    <dd><%= @rental.car_category.name %></dd>
    <dt><%= Rental.human_attribute_name :total %></dt>
    <dd><%= number_to_currency @rental.total %></dd>
    <dt><%= Rental.human_attribute_name :user %></dt>
    <dd><%= @rental.user.email %></dd>
  </dl>
</div>

<% if @rental.car_rental %>
  <h2>Locação Iniciada</h2>

  Carro Escolhido: <%= @rental.car_rental.car.description %>
  
  CNH do Condutor: <%= @rental.car_rental.driver_license_number %>
  
  Usuário: <%= @rental.car_rental.user.email %>
  
  Início da Locação: <%= l @rental.car_rental.start_date %>

  <p>Em andamento</p>
<% else %>
  
  <%= link_to 'Iniciar locação', new_rental_car_rental_path(@rental.id) %>

<% end %>